* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
#share-buttons img{
  width: 35px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

#sidebar {
  position: fixed;
  width: 200px;
  background-color: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 100vh;
  left: -201px;
  z-index: 25;
}
#scheduled-test-series {
  position: absolute;
  top: 80px;
  left: -500px;
  background-color: white;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  max-height: 500px;
  overflow-y: scroll;
}
.scheduled-test-series-active {
  left: 230px !important;
}
.sub-cont {
  height: 50px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(255, 0, 0, 0.38);
  border-radius: 15px;
  width: 350px;
  margin: auto;
  padding: 0 10px;
}
.f-22 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 21px;
  text-align: center;

  color: #000000;
}
.f-18-p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  padding-left: 15px;
  color: #000000;
}
.sub-cont-green {
  height: 50px;
  border-radius: 15px;
  width: 350px;
  margin: auto;
  padding: 0 10px;
  background: #ffffff;
  box-shadow: 0px 2px 6px #0fb15a;
  border-radius: 15px;
}
@keyframes curtain {
  from {
    left: -200px;
  }
  to {
    left: 0px;
  }
}
#sidebar.active {
  left: 0px;
  animation-name: curtain;
  animation-duration: 1.5s;
}
.sidenav-icon-hover {
  left: 34px;
  top: 0;
  background-color: #000000;
  color: white;
  font-size: 13px;
  width: 100px;
  padding-left: 2px;
  display: none;
  border-radius: 10px;
}
.sidenav-icon-1:hover .sidenav-icon-hover {
  display: block;
}
#sidebar ul li {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #1b001b;
  text-align: left;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  padding: 15px 5px;
}
#sidebar .toggle-btn {
  position: absolute;
  left: 200px;
  padding-top: 20px;
}
.showw {
  position: absolute;
  left: 200px;
  top: 46px;
  padding-top: 10px;
  background-color: #40b3e0;
  height: 100vh;
  width: 35px;
}
#sidebar .toggle-btn span {
  display: block;
  width: 25px;
  height: 2px;
  background: #151719;
  margin: 5px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.toggle-btn {
  cursor: pointer;
  background-color: #40b3e0;
  width: 35px;
}
span {
  position: relative;
  left: 5px;
}
.a {
  display: inline;
}
#sidebar ul {
  padding-top: 20px;
}
.social-media-icons {
  position: absolute;
  padding-top: 0;
  bottom:80px;
}
.h {
  position: absolute;
}
.aaaa {
  position: relative;
  left: 50px;
  font-size: 15px;
  width: 150px;
}
.subcontent {
  width: 141px;
  height: 1.5rem;
  font-size: 12px;
  color: #6a6a6a;
  font-weight: normal;
}
.hide-xl {
  display: none;
}
.increase-z-index{
  z-index:5 !important;
}
#rewards{
  position: absolute;
  top:70px;
left: 238px;

height: 400px;
background-color: #ffffff;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
width: 400px;
display: none;
}
#rewards.rewards-active{
  display: block;
}
.sub-re-green {
  height: 50px;
  border-radius: 15px;
  margin: auto;
  padding: 0 10px;
  background: #ffffff;
  box-shadow: 0px 2px 6px #0fb15a;
}
#popov {
  position: absolute;
  top: -550px;
  left: 200px;
  width: 290px;
  background: white;
  outline: none;
}
.pointer-ico {
  cursor: pointer;
}
.big-round-username {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  padding: 45px 20px;
  font-size: 96px;
  margin-bottom: 0 !important;
  border-radius: 200px;
  background: #1976d2;
  color: #000000;
  border: none;
  outline: none !important;
  margin-bottom: -150px !important;
  z-index: 10px !important;
}
.subcontent-1 {
  height: 72px;
}
.logou:hover {
  cursor: pointer;
}
#popov.popov-active {
  top: 50px;
}
#share-buttons-link {
  position: absolute;
  top: 130px;
  left: -550px;
  background-color: white;
  border-radius: 10px;
  height: 60px;
  width: 270px;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}
.share-buttons-link-active {
  left: 250px !important;
}
@media (max-width: 514px) {
  #sidebar ul li {
    padding: 15px 3px;
  }
  .showw {
    height: 100vh;
    width: 30px;
  }
  .toggle-btn {
    background-color: #40b3e0;
    width: 30px;
    cursor: pointer;
  }
  span {
    position: relative;
    left: 5px;
  }
  #sidebar .toggle-btn span {
    display: block;
    width: 20px;
    height: 2px;
    background: #151719;
    margin: 5px 0px;
  }
  .aaaa {
    font-size: 12px;
  }
  .subcontent {
    font-size: 10px;
    height: 1.2rem;
  }
}
@media (max-width: 818px) {
  .hide-xl {
    display: block;
  }
}
@media(max-width:458px){
  .scheduled-test-series-active {
    left: 0px !important;
    width: 330px !important;
  } 
  .sub-cont {
    height: 50px;
    background: #ffffff;
    box-shadow: 0px 2px 6px rgba(255, 0, 0, 0.38);
    border-radius: 15px;
    width: 300px;
    margin: auto;
    padding: 0 10px;
  }
  .sub-cont-green{
    width: 300px;
  }
  .share-buttons-link-active {
    left: 80px !important;
    top: 190px !important;
  }
  #rewards{
    position: absolute;
    top:70px;
  left: 10px;
  
  height: 400px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  width: 330px;
  display: none;
  }
}
